#signup-form {
    text-align: center;
    font-size: 20px;
}

body {
    background-color: rgb(204, 245, 250);
}

#bird {
    font-size: 20em;
    color: blue;
}

#login-form {
    text-align: center;
    font-size: 20px;
}
